.bg-header{
    background-color: white;
    padding-top: 10px;
}
body{
    background-color: #f6f8f9;
}
.bg1{
    width: 70%;
    /* height:600px; */
    margin: 20px auto 0;
    background-color: white;
}
.bg2{
    width: 70%;
    margin: 2px auto;
    background-color: white;
}