.label{
    display: inline-block;
    padding: 3px 15px;
    text-align: center;
    margin-right: 10px;
}
.rounded{
    border-radius: 5px;
}
.circle{
    border-radius: 18px;
}
.orange{
    background-color: orange;
}
.lightgreen{
    background-color: #64c0a9;
}
.violet{
    background-color: #9c72e4;
}
.blue{
    background-color:#47adf1;
}
.purple{
    background-color: #d863a1;
}
.green{
    background-color:#b0c926;
}
.border-grey{
    border: 1px solid lightgrey;
    color: lightgrey;
}